In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import re
import sqlite3

from nltk import word_tokenize

In [2]:
pd.set_option('display.max_rows', 500, 'display.max_columns', 500)

In [3]:
# Import sales data.
sales = pd.read_csv('Data/Iowa_Liquor_Sales.csv')

C:\Users\JeongwooHan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
# Import products detail data.
product_df = pd.read_csv('Data/Iowa_Liquor_Products.csv')

In [5]:
# Making the sales data columns a bit more code friendly by removing spaces.
sales.columns = sales.columns.str.replace(' ','')
product_df.columns = product_df.columns.str.replace(' ','')

In [6]:
sales.columns

Index(['Invoice/ItemNumber', 'Date', 'StoreNumber', 'StoreName', 'Address',
       'City', 'ZipCode', 'StoreLocation', 'CountyNumber', 'County',
       'Category', 'CategoryName', 'VendorNumber', 'VendorName', 'ItemNumber',
       'ItemDescription', 'Pack', 'BottleVolume(ml)', 'StateBottleCost',
       'StateBottleRetail', 'BottlesSold', 'Sale(Dollars)',
       'VolumeSold(Liters)', 'VolumeSold(Gallons)'],
      dtype='object')

In [7]:
product_df.columns

Index(['ItemNumber', 'CategoryName', 'ItemDescription', 'Vendor', 'VendorName',
       'BottleVolume(ml)', 'Pack', 'InnerPack', 'Age', 'Proof', 'ListDate',
       'UPC', 'SCC', 'StateBottleCost', 'StateCaseCost', 'StateBottleRetail',
       'ReportDate'],
      dtype='object')

# Products Table

Clean up inconsistency by:
- Using category name that is most recent
- Using item description that is most recent

In [8]:
# Restrict to the fields we want for product table.
prod_col = ['Date',
           'Category',
           'CategoryName',
           'ItemNumber',
           'ItemDescription',
           'Pack',
           'BottleVolume(ml)']

product = sales[prod_col].copy()

product['CategoryName'] = product['CategoryName'].str.lower()
product['ItemDescription'] = product['ItemDescription'].str.lower()

In [9]:
product['ItemNumber'] = product['ItemNumber'].apply(str)

In [11]:
# Confirm that there are multiple category names associated with a single category ID. Will consolidate.
product.groupby(['Category', 'CategoryName']).agg({'Date':'count'})

                                                   Date
Category  CategoryName
1011100.0 blended whiskies                       940814
1011200.0 straight bourbon whiskies             1303265
1011250.0 single barrel bourbon whiskies           9268
1011300.0 single barrel bourbon whiskies          16136
          tennessee whiskies                     245162
1011400.0 bottled in bond bourbon                  6417
          tennessee whiskies                     322660
1011500.0 bottled in bond bourbon                  9611
          straight rye whiskies                   59869
1011600.0 corn whiskies                             752
          straight rye whiskies                   82175
1011700.0 corn whiskies                            7975
1011800.0 iowa distillery whiskies                  124
1012000.0 imported whiskies                           7
1012100.0 canadian whiskies                     2090073
1012200.0 scotch whiskies                        390830
1012210.0 single malt scotch                      82675
1012300.0 irish whiskies                          88389
          single malt scotch                     101219
1012400.0 irish whiskies                         146777
          japanese whisky                           286
1022100.0 mixto tequila                          252961
          tequila                                435298
1022200.0 100% agave tequila                     329889
1022300.0 mezcal                                   6279
1031000.0 american vodka                           5223
1031080.0 vodka 80 proof                        1265974
1031090.0 other proof vodka                        3398
1031100.0 100 proof vodka                         99124
          american vodkas                       1747627
1031110.0 low proof vodka                          1565
1031200.0 american flavored vodka                577235
          vodka flavored                         502813
1032000.0 imported vodka                           1542
1032080.0 imported vodka                         404048
1032100.0 imported vodkas                        403706
1032200.0 imported flavored vodka                233745
          imported vodka - misc                  256241
1032230.0 imported vodka - cherry                    14
1041100.0 american dry gins                      492327
1041150.0 flavored gins                           12010
1041200.0 american sloe gins                       7002
          flavored gin                             8711
1041300.0 american sloe gins                       3819
1042000.0 imported gins                               8
1042100.0 imported dry gins                      239768
1051010.0 american grape brandies                243144
1051100.0 american brandies                      374101
          apricot brandies                        38509
1051110.0 blackberry brandies                     59714
1051120.0 cherry brandies                         13216
1051140.0 peach brandies                          15070
1051150.0 miscellaneous  brandies                  4214
1052010.0 imported grape brandies                155688
1052100.0 imported brandies                      244689
1062050.0 barbados rum                             9909
1062100.0 gold rum                                74753
          jamaica rum                             15288
1062200.0 puerto rico & virgin islands rum       395376
          white rum                              280408
1062300.0 aged dark rum                           33077
          flavored rum                           278367
1062310.0 spiced rum                             530323
1062400.0 spiced rum                             568193
1062500.0 flavored rum                           295568
1070000.0 cocktails / rtd                           948
1070100.0 temporary  & specialty packages            35
1071100.0 american cocktails                     284695
          cocktails /rtd                         334336
1081000.0 american cordials & liqueurs             2229
1081010.0 american amaretto                       53417
1081015.0 imported amaretto                       12753
1081020.0 anisette                                 1441
1081030.0 coffee liqueurs                         75505
1081100.0 coffee liqueurs                         71851
1081200.0 cream liqueurs                         473503
1081210.0 creme de almond                          1631
1081220.0 dark creme de cacao                      6591
1081230.0 white creme de cacao                     7213
1081240.0 green creme de menthe                    8961
1081250.0 white creme de menthe                    2459
1081300.0 american cordials & liqueur            275776
          peppermint schnapps                    120504
1081305.0 apple schnapps                          33099
1081312.0 butterscotch schnapps                   33865
1081315.0 cinnamon schnapps                       34235
1081317.0 grape schnapps                          13044
1081330.0 peach schnapps                          63400
1081335.0 raspberry schnapps                      13207
1081340.0 root beer schnapps                      13615
1081350.0 spearmint schnapps                       2928
1081355.0 strawberry schnapps                     11853
1081365.0 tropical fruit schnapps                 10644
1081370.0 watermelon schnapps                     17844
1081380.0 miscellaneous schnapps                  32375
1081390.0 imported schnapps                      169243
1081400.0 american schnapps                      382536
          triple sec                              48609
1081500.0 rock & rye                               2660
          triple sec                              44642
1081600.0 whiskey liqueur                        913298
1081700.0 distilled spirits specialty             60228
1081900.0 misc. american cordials & liqueurs     127044
1082000.0 imported cordials & liqueurs           268268
1082010.0 amaretto - imported                       102
1082015.0 imported amaretto                          36
1082100.0 imported cordials & liqueur              4121
1082200.0 imported schnapps                      182913
1082300.0 schnapps - imported                         1
1082390.0 schnapps - imported                        16
1082900.0 misc. imported cordials & liqueurs     246088
1090000.0 distilled spirits specialty               210
1091000.0 american distilled spirits specialty      229
1091100.0 american distilled spirit specialty     21929
1091200.0 neutral grain spirits                   25862
1091300.0 neutral grain spirits flavored          32331
1091400.0 iowa distilleries                        2855
1092000.0 imported distilled spirits specialty      131
1092100.0 imported distilled spirit specialty     14847
1101100.0 american alcohol                        24351
1501100.0 high proof beer - american                 32
1700000.0 temporary &  specialty packages         11438
1701100.0 decanters & specialty packages          40551
          temporary & specialty packages         127657
1701200.0 holiday vap                                48
1900000.0 delisted / special order items              1
1901100.0 delisted items                             63
1901200.0 special order items                     25402

In [12]:
# Create year field using the date field so we can use the most recent category name for each ID.
product['Year'] = product['Date'].str[-4:]
product['Year'].value_counts()

2020    2614365
2019    2380345
2018    2355558
2017    2291276
2016    2279893
2015    2184483
2014    2097796
2012    2082059
2013    2063763
2021    1291619
Name: Year, dtype: int64

In [13]:
# Use the most recent year's category name and consolidate it with category.
Category_List = product.sort_values(['Year']).drop_duplicates(subset = ['Category'], keep = 'last')
Merged_Product = product.merge(Category_List[['Category', 'CategoryName']], on = 'Category', how = 'left')
Merged_Product.drop(columns = 'CategoryName_x', inplace = True)
Merged_Product.rename(columns = {'CategoryName_y': 'CategoryName'}, inplace = True)
product = Merged_Product.copy()

In [14]:
# Check if category name cleanup worked as expected.
product.groupby(['Category', 'CategoryName']).agg({'Date':'count'})

                                                   Date
Category  CategoryName
1011100.0 blended whiskies                       940814
1011200.0 straight bourbon whiskies             1303265
1011250.0 single barrel bourbon whiskies           9268
1011300.0 single barrel bourbon whiskies         261298
1011400.0 tennessee whiskies                     329077
1011500.0 bottled in bond bourbon                 69480
1011600.0 straight rye whiskies                   82927
1011700.0 corn whiskies                            8014
1011800.0 iowa distillery whiskies                  124
1012000.0 imported whiskies                           7
1012100.0 canadian whiskies                     2090073
1012200.0 scotch whiskies                        390830
1012210.0 single malt scotch                      82675
1012300.0 single malt scotch                     189608
1012400.0 irish whiskies                         147063
1022100.0 mixto tequila                          688259
1022200.0 100% agave tequila                     332459
1022300.0 mezcal                                   6284
1031000.0 american vodka                           5223
1031080.0 vodka 80 proof                        1265974
1031090.0 other proof vodka                        3398
1031100.0 american vodkas                       1846751
1031110.0 low proof vodka                          1565
1031200.0 american flavored vodka               1080048
1032000.0 imported vodka                           1542
1032080.0 imported vodka                         404048
1032100.0 imported vodkas                        404952
1032200.0 imported flavored vodka                489986
1032230.0 imported vodka - cherry                    14
1041100.0 american dry gins                      492327
1041150.0 flavored gins                           12010
1041200.0 flavored gin                            15713
1041300.0 american sloe gins                       3819
1042000.0 imported gins                               8
1042100.0 imported dry gins                      239768
1051010.0 american grape brandies                243144
1051100.0 american brandies                      412610
1051110.0 blackberry brandies                     59714
1051120.0 cherry brandies                         13216
1051140.0 peach brandies                          15070
1051150.0 miscellaneous  brandies                  4214
1052010.0 imported grape brandies                155688
1052100.0 imported brandies                      247004
1062050.0 barbados rum                             9909
1062100.0 gold rum                                90041
1062200.0 white rum                              675784
1062300.0 aged dark rum                          311444
1062310.0 spiced rum                             530323
1062400.0 spiced rum                             568576
1062500.0 flavored rum                           295923
1070000.0 cocktails / rtd                           948
1070100.0 temporary  & specialty packages            35
1071100.0 cocktails /rtd                         619031
1081000.0 american cordials & liqueurs             2229
1081010.0 american amaretto                       53417
1081015.0 imported amaretto                       12753
1081020.0 anisette                                 1441
1081030.0 coffee liqueurs                         75505
1081100.0 coffee liqueurs                         71857
1081200.0 cream liqueurs                         473503
1081210.0 creme de almond                          1631
1081220.0 dark creme de cacao                      6591
1081230.0 white creme de cacao                     7213
1081240.0 green creme de menthe                    8961
1081250.0 white creme de menthe                    2459
1081300.0 american cordials & liqueur            396280
1081305.0 apple schnapps                          33099
1081312.0 butterscotch schnapps                   33865
1081315.0 cinnamon schnapps                       34235
1081317.0 grape schnapps                          13044
1081330.0 peach schnapps                          63400
1081335.0 raspberry schnapps                      13207
1081340.0 root beer schnapps                      13615
1081350.0 spearmint schnapps                       2928
1081355.0 strawberry schnapps                     11853
1081365.0 tropical fruit schnapps                 10644
1081370.0 watermelon schnapps                     17844
1081380.0 miscellaneous schnapps                  32375
1081390.0 imported schnapps                      169243
1081400.0 american schnapps                      431145
1081500.0 triple sec                              47302
1081600.0 whiskey liqueur                        913298
1081700.0 distilled spirits specialty             60228
1081900.0 misc. american cordials & liqueurs     127044
1082000.0 imported cordials & liqueurs           268268
1082010.0 amaretto - imported                       102
1082015.0 imported amaretto                          36
1082100.0 imported cordials & liqueur              4861
1082200.0 imported schnapps                      183013
1082300.0 schnapps - imported                         1
1082390.0 schnapps - imported                        16
1082900.0 misc. imported cordials & liqueurs     246088
1090000.0 distilled spirits specialty               210
1091000.0 american distilled spirits specialty      229
1091100.0 american distilled spirit specialty     22135
1091200.0 neutral grain spirits                   25866
1091300.0 neutral grain spirits flavored          32387
1091400.0 iowa distilleries                        2855
1092000.0 imported distilled spirits specialty      131
1092100.0 imported distilled spirit specialty     14868
1101100.0 american alcohol                        24351
1501100.0 high proof beer - american                 32
1700000.0 temporary &  specialty packages         11438
1701100.0 temporary & specialty packages         168208
1701200.0 holiday vap                                48
1900000.0 delisted / special order items              1
1901100.0 delisted items                             63
1901200.0 special order items                     25402

In [15]:
# Use the most recent year's item description and consolidate it with item number.
Item_List = product.sort_values(['Year']).drop_duplicates(subset = ['ItemNumber'], keep = 'last')
Merged_Item = product.merge(Item_List[['ItemNumber', 'ItemDescription']], on = 'ItemNumber', how = 'left')
Merged_Item.drop(columns = 'ItemDescription_x', inplace = True)
Merged_Item.rename(columns = {'ItemDescription_y': 'ItemDescription'}, inplace = True)
product = Merged_Item.copy()

In [16]:
product.head()

,Date,Category,ItemNumber,Pack,BottleVolume(ml),Year,CategoryName,ItemDescription
0,03/16/2016,1081200.0,80457,12,1000,2016,cream liqueurs,ryans cream liqueur
1,07/15/2019,1012200.0,10008,6,1750,2019,scotch whiskies,scoresby rare scotch
2,07/01/2020,1012400.0,15628,6,1750,2020,irish whiskies,jameson
3,07/11/2019,1012200.0,10009,12,1000,2019,scotch whiskies,scoresby rare scotch
4,07/23/2019,1701100.0,100107,6,1850,2019,temporary & specialty packages,captain morgan osr glass w/50ml apple smash & ...

In [17]:
# Keep the bottle volume that is the most common.
bottle_volume = product.groupby(['ItemNumber']).agg({'BottleVolume(ml)':'value_counts'})\
                .rename(columns = {'BottleVolume(ml)':'count'}).reset_index()
bottle_volume['rank'] = bottle_volume.groupby(['ItemNumber'])['count'].rank(ascending = False)
bottle_volume_unique = bottle_volume[bottle_volume['rank'] == 1]

In [18]:
# Merge the unique volume list onto product table.
Merged_Volume = product.merge(bottle_volume_unique[['ItemNumber', 'BottleVolume(ml)']], on = 'ItemNumber', how = 'left')
Merged_Volume.drop(columns = 'BottleVolume(ml)_x', inplace = True)
Merged_Volume.rename(columns = {'BottleVolume(ml)_y': 'BottleVolume'}, inplace = True)
product = Merged_Volume.copy()

In [19]:
product = product[['ItemNumber', 'ItemDescription', 'Category', 'CategoryName', 'BottleVolume']]
product.head()

,ItemNumber,ItemDescription,Category,CategoryName,BottleVolume
0,80457,ryans cream liqueur,1081200.0,cream liqueurs,1000.0
1,10008,scoresby rare scotch,1012200.0,scotch whiskies,1750.0
2,15628,jameson,1012400.0,irish whiskies,1750.0
3,10009,scoresby rare scotch,1012200.0,scotch whiskies,1000.0
4,100107,captain morgan osr glass w/50ml apple smash & ...,1701100.0,temporary & specialty packages,1850.0

In [20]:
# Make the product table a unique list.
product.drop_duplicates(keep = 'first', inplace = True)
product.shape

(13338, 5)

In [21]:
product_copy = product.copy()

In [22]:
proof = product_df[['ItemNumber', 'Proof']]

In [23]:
# Making ItemNumber in proof database to be str to match onto product database.
proof['ItemNumber'] = proof['ItemNumber'].apply(str)

<ipython-input-23-3943bf8c521d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  proof['ItemNumber'] = proof['ItemNumber'].apply(str)

In [27]:
# Attaching proof to the product database.
Proof_Merge = product_copy.merge(proof[['ItemNumber', 'Proof']], on = 'ItemNumber', how = 'left')
Proof_Merge.head()

,ItemNumber,ItemDescription,Category,CategoryName,BottleVolume,Proof
0,80457,ryans cream liqueur,1081200.0,cream liqueurs,1000.0,34.0
1,10008,scoresby rare scotch,1012200.0,scotch whiskies,1750.0,80.0
2,15628,jameson,1012400.0,irish whiskies,1750.0,80.0
3,10009,scoresby rare scotch,1012200.0,scotch whiskies,1000.0,80.0
4,100107,captain morgan osr glass w/50ml apple smash & ...,1701100.0,temporary & specialty packages,1850.0,70.0

In [28]:
product = Proof_Merge

In [29]:
product_groupcat = product.copy()

In [30]:
product_groupcat['ItemDescription'] = product_groupcat['ItemDescription'].apply(str)
product_groupcat['CategoryName'] = product_groupcat['CategoryName'].apply(str)

In [31]:
# Create category grouping.
product_groupcat['CategoryGroup'] = np.where(product_groupcat['CategoryName'].str.contains('rum'),'rum',
                                    np.where(product_groupcat['CategoryName'].str.contains('gin'),'gin', 
                                    np.where(product_groupcat['CategoryName'].str.contains('cocktail'), 'cocktail',
                                    np.where(product_groupcat['CategoryName'].str.contains('brandy|brandies'), 'brandy',
                                    np.where(product_groupcat['CategoryName'].str.contains('whisk|bourbon|scotch'), 'whisky',
                                    np.where(product_groupcat['CategoryName'].str.contains('tequila|mezcal'), 'tequila',
                                    np.where(product_groupcat['CategoryName'].str.contains('schnapps'), 'schnapps',
                                    np.where(product_groupcat['CategoryName'].str.contains('vodka'), 'vodka',
                                    np.where(product_groupcat['CategoryName'].str.contains('spirit'), 'spirit',
                                    np.where(product_groupcat['CategoryName'].str.contains('liqueur'), 'liqueur',
                                    np.where(product_groupcat['CategoryName'].str.contains('brandies'), 'brandy', 'other')))))))))))

In [32]:
product_groupcat['CategoryGroup'].value_counts()

whisky      3243
other       2312
vodka       2288
liqueur     1451
rum         1000
tequila      825
brandy       644
spirit       437
cocktail     412
gin          369
schnapps     357
Name: CategoryGroup, dtype: int64

In [33]:
# Confirm the categories left over can be categorized to "other"
product_groupcat[product_groupcat['CategoryGroup'] == 'other']['CategoryName'].value_counts()

special order items                892
temporary & specialty packages     837
nan                                355
temporary &  specialty packages     90
american amaretto                   23
holiday vap                         19
triple sec                          16
delisted items                      16
american alcohol                    13
white creme de cacao                10
creme de almond                      7
dark creme de cacao                  7
green creme de menthe                6
imported amaretto                    6
anisette                             3
iowa distilleries                    3
white creme de menthe                3
high proof beer - american           2
amaretto - imported                  2
temporary  & specialty packages      1
delisted / special order items       1
Name: CategoryName, dtype: int64

In [34]:
product_groupcat.head()

,ItemNumber,ItemDescription,Category,CategoryName,BottleVolume,Proof,CategoryGroup
0,80457,ryans cream liqueur,1081200.0,cream liqueurs,1000.0,34.0,liqueur
1,10008,scoresby rare scotch,1012200.0,scotch whiskies,1750.0,80.0,whisky
2,15628,jameson,1012400.0,irish whiskies,1750.0,80.0,whisky
3,10009,scoresby rare scotch,1012200.0,scotch whiskies,1000.0,80.0,whisky
4,100107,captain morgan osr glass w/50ml apple smash & ...,1701100.0,temporary & specialty packages,1850.0,70.0,other

In [35]:
product = product_groupcat[['ItemNumber', 'ItemDescription', 'Category', 'CategoryName', 'CategoryGroup', 'BottleVolume', 'Proof']]

In [36]:
# Clean up names so that it's consistent between tables.
product.rename(columns = {'ItemNumber':'ProductID', 'ItemDescription':'ProductName', 'Category':'CategoryID'}, inplace = True)
product.head()

,ProductID,ProductName,CategoryID,CategoryName,CategoryGroup,BottleVolume,Proof
0,80457,ryans cream liqueur,1081200.0,cream liqueurs,liqueur,1000.0,34.0
1,10008,scoresby rare scotch,1012200.0,scotch whiskies,whisky,1750.0,80.0
2,15628,jameson,1012400.0,irish whiskies,whisky,1750.0,80.0
3,10009,scoresby rare scotch,1012200.0,scotch whiskies,whisky,1000.0,80.0
4,100107,captain morgan osr glass w/50ml apple smash & ...,1701100.0,temporary & specialty packages,other,1850.0,70.0

In [37]:
product.shape

(13338, 7)

In [40]:
# Going to leave nulls here since we'll most likely be focusing on category name anyways.
product.isnull().sum(axis = 0)

ProductID           0
ProductName         0
CategoryID        351
CategoryName        0
CategoryGroup       0
BottleVolume       13
Proof            1567
dtype: int64

In [41]:
product.loc[product['CategoryName'] == 'nan']

,ProductID,ProductName,CategoryID,CategoryName,CategoryGroup,BottleVolume,Proof
705,984393,sooh 99 watermelon mini,NaN,nan,other,600.0,99.0
1478,80024,blue chair bay banana rum cream,NaN,nan,other,750.0,30.0
1537,920376,sooh old forester 1920,NaN,nan,other,750.0,115.0
1756,916839,black saddle bourbon,NaN,nan,other,750.0,90.0
1829,985556,koval rye,NaN,nan,other,750.0,80.0
2039,995509,bains cape mountain whiskey,NaN,nan,other,750.0,86.0
2107,994046,sooh aberlour a'bunadh,NaN,nan,other,750.0,122.0
2197,36122,deep eddy 80prf,NaN,nan,other,750.0,80.0
2250,40569,river pilot strawberry vodka,NaN,nan,other,375.0,80.0
2304,457,makers mark co-pack,NaN,nan,other,750.0,90.0
2347,72434,big peach liqueur,NaN,nan,other,375.0,38.0
2383,84197,99 pineapple mini,NaN,nan,other,600.0,99.0
2522,927114,ha pikesville rye 110prf,NaN,nan,other,750.0,110.0
2549,976641,haymans old tom gin,NaN,nan,other,750.0,80.0
2554,940831,sooh skyy infusions blood orange,NaN,nan,other,750.0,70.0
2579,982756,dekuyper cranberry crush,NaN,nan,other,750.0,30.0
2586,941836,everclear 190prf,NaN,nan,other,750.0,190.0
2623,984399,99 whipped,NaN,nan,other,750.0,99.0
2642,976642,haymans sloe gin,NaN,nan,other,750.0,52.0
2658,965986,nux alpina,NaN,nan,other,750.0,64.0
2686,964018,agave loco,NaN,nan,other,750.0,71.0
2709,994811,athena ouzo rum,NaN,nan,other,750.0,93.0
2715,944561,cruzan key lime,NaN,nan,other,750.0,42.0
2727,994771,diplomatico reserva exclusiva,NaN,nan,other,750.0,80.0
2729,917677,eagle rare single barrel buy the barrel,NaN,nan,other,750.0,90.0
2767,977256,revel stoke spiced,NaN,nan,other,750.0,70.0
2774,927357,cedar ridge single malt single barrel select,NaN,nan,other,750.0,94.0
2836,986771,ole smoky white lightnin' moonshine,NaN,nan,other,750.0,100.0
2936,942462,brugal 1888 gran reserva,NaN,nan,other,750.0,80.0
2941,986515,iowa distilling company double oak rye,NaN,nan,other,750.0,80.0
2962,926684,foundry whiskey custom,NaN,nan,other,750.0,80.0
2982,943546,palo viejo white,NaN,nan,other,750.0,80.0
3012,997877,don amado mezcal rustico,NaN,nan,other,750.0,94.0
3574,940020,burnetts cherry limeade,NaN,nan,other,750.0,70.0
3576,934065,double cross vodka,NaN,nan,other,750.0,80.0
3626,926732,sir winston barrel proof bourbon,NaN,nan,other,750.0,116.0
3629,942330,ron abuelo anejo 7yr,NaN,nan,other,750.0,80.0
3639,988849,sooh jose cuervo especial gold flask,NaN,nan,other,100.0,80.0
3700,922178,russell's reserve single barrel - barrel,NaN,nan,other,750.0,110.0
3703,985555,koval oat,NaN,nan,other,750.0,80.0
3763,987951,kavalan classic single malt whiskey,NaN,nan,other,750.0,80.0
4056,928270,cedar ridge private cask iowa bourbon selectio...,NaN,nan,other,750.0,92.0
4058,927367,cedar ridge barrel proof bourbon,NaN,nan,other,750.0,115.0
4066,973508,dekuyper mixologist ginger,NaN,nan,other,750.0,30.0
4067,902152,sauza cien anos blanco,NaN,nan,other,750.0,80.0
4079,66518,rumhaven,NaN,nan,other,750.0,42.0
4138,115,crown royal w/glass & coaster,NaN,nan,other,750.0,80.0
4217,100015,fireball cinnamon whiskey bag in box,NaN,nan,other,3500.0,66.0
4248,901636,kauai coconut hawaiian rum,NaN,nan,other,750.0,80.0
4252,926491,steeple ridge bourbon,NaN,nan,other,375.0,92.0
4259,27849,cedar ridge reserve bourbon,NaN,nan,other,750.0,92.0
4261,946916,sammy's beach bar rum,NaN,nan,other,750.0,80.0
4268,926786,cedar ridge private cask selection malted rye ...,NaN,nan,other,750.0,115.0
4273,928271,cedar ridge private cask iowa bourbon selectio...,NaN,nan,other,750.0,105.0
4371,297,templeton 4yr rye w/flask,NaN,nan,other,750.0,80.0
4375,881,jack daniel's hispanic w/2 glasses,NaN,nan,other,750.0,80.0
4376,73685,e & j peach,NaN,nan,other,750.0,60.0
4378,212,bird dog apple w/glass,NaN,nan,other,750.0,80.0
4420,12863,rich & rare apple,NaN,nan,other,750.0,70.0
4437,217,jagermeister w/ mobile phone wood amplifier,NaN,nan,other,750.0,70.0
4446,633,stoli variety mini bar,NaN,nan,other,50.0,80.0
4451,3360,baileys original irish cream w/2 mugs,NaN,nan,other,750.0,34.0
4492,10549,black velvet toasted caramel mini,NaN,nan,other,600.0,70.0
4501,76436,old st. nick''s egg nog,NaN,nan,other,750.0,25.0
4506,100033,disaronno amaretto etro w/2 glasses,NaN,nan,other,750.0,56.0
4545,4055,caravella limoncello w/glass,NaN,nan,other,750.0,56.0
4628,943458,don q limon,NaN,nan,other,1000.0,60.0
4637,163,hennessy vs flask,NaN,nan,other,200.0,80.0
4648,2511,di amore amaretto w/2 glasses,NaN,nan,other,750.0,42.0
4650,62920,mr boston holiday nog,NaN,nan,other,750.0,30.0
4652,559,crystal head vodka w/2 skull glasses,NaN,nan,other,750.0,80.0
4655,89155,don julio reposado,NaN,nan,other,375.0,80.0
4656,44259,blackheart premium spiced rum,NaN,nan,other,1750.0,93.0
4659,43086,bacardi coco w/lime 50ml,NaN,nan,other,750.0,70.0
4660,100026,absolut w/fever tree ginger beer,NaN,nan,other,750.0,80.0
4661,35698,pearl cucumber mini,NaN,nan,other,500.0,70.0
4662,3135,jagermeister w/2 shot glasses,NaN,nan,other,750.0,70.0
4670,100041,hennessy v.s.o.p privilege w/2 glasses,NaN,nan,other,750.0,80.0
4673,86624,cody road uncommon double barrel,NaN,nan,other,375.0,101.0
4674,940591,new amsterdam peach,NaN,nan,other,100.0,70.0
4754,3005,chambord liqueur w/2 glasses,NaN,nan,other,750.0,33.0
4889,3337,wild turkey american honey shot tap,NaN,nan,other,750.0,71.0
5053,59100,evan williams egg nog,NaN,nan,other,750.0,30.0
5100,893,gentleman jack w/2 glasses,NaN,nan,other,750.0,80.0
5201,935543,ketel one oranje,NaN,nan,other,750.0,80.0
5339,19560,"maker's mark red, white & blue",NaN,nan,other,1125.0,90.0
5340,43117,bacardi o disco,NaN,nan,other,1000.0,70.0
5345,100022,forty creek w/thermos,NaN,nan,other,750.0,80.0
5348,641,stolichnaya vodka 1.75l w/4 cans of ginger beer,NaN,nan,other,1750.0,80.0
5349,48181,hennessy vs scott campbell,NaN,nan,other,750.0,80.0
5357,155,pinnacle vodka w/punch dispenser,NaN,nan,other,750.0,80.0
5367,77573,travis hasse's cow pie,NaN,nan,other,750.0,30.0
5392,3201,sobieski w/2 shot glasses,NaN,nan,other,1750.0,80.0
5401,100360,prairie organic vodka w/mug,NaN,nan,other,750.0,80.0
5402,900480,great glen 8 yr,NaN,nan,other,100.0,NaN
5411,943675,benromach 10yr,NaN,nan,other,750.0,86.0
6140,929570,ty ku coconut,NaN,nan,other,750.0,24.0
6899,902469,whaler's original dark rum,1062250.0,nan,other,750.0,80.0
6971,73206,tim smith's climax fire #32,NaN,nan,other,750.0,80.0
7382,900419,rothman & winter orchard peach,NaN,nan,other,750.0,40.0
7525,945421,calico jack pineapple,NaN,nan,other,750.0,42.0
7535,915951,bastille 1789,NaN,nan,other,750.0,40.0
7543,904596,appleton estate reserve,NaN,nan,other,750.0,80.0
7544,987407,jose cuervo especial silver flask,NaN,nan,other,100.0,80.0
7556,940013,burnetts appleberry,NaN,nan,other,750.0,70.0
7579,927543,red stag black cherry mini,NaN,nan,other,500.0,65.0
7628,964694,patron citronge mango,NaN,nan,other,750.0,70.0
7634,940576,skinnygirl tangerine,NaN,nan,other,750.0,60.0
7641,967341,avion espresso,NaN,nan,other,750.0,70.0
7650,359,crown royal w/2 glasses tray pack,NaN,nan,other,1750.0,80.0
7660,33508,absolut electrik,NaN,nan,other,750.0,80.0
7668,988063,members mark silver tequila,NaN,nan,other,1750.0,80.0
7680,100025,three olives w/3-50mls,NaN,nan,other,900.0,80.0
7697,145,bird dog blackberry w/glass,NaN,nan,other,750.0,80.0
7703,80130,ezra brooks bourbon cream,NaN,nan,other,750.0,25.0
7715,977872,smirnoff sours green apple mini,NaN,nan,other,500.0,60.0
7728,940055,deep eddy lemon vodka,NaN,nan,other,1750.0,70.0
7780,27141,templeton rye 10yr special reserve,NaN,nan,other,750.0,101.0
7785,490,jameson trilogy pack,NaN,nan,other,600.0,80.0
7802,964049,aalborg jubilaeums aquavit,NaN,nan,other,750.0,80.0
7816,927798,black tie bourbon,NaN,nan,other,750.0,40.0
7829,920676,old medley 12yr,NaN,nan,other,750.0,86.0
7833,27829,cody road double barrel,NaN,nan,other,375.0,101.0
7840,905447,ha laphroaig 25yr cask strength,NaN,nan,other,750.0,90.0
7872,905118,glengoyne 15yr,NaN,nan,other,750.0,43.0
7900,944489,cruzan estate diamond dark,NaN,nan,other,750.0,80.0
7901,905608,mcclelland's islay,NaN,nan,other,1750.0,80.0
7929,912306,canadian hunter,NaN,nan,other,750.0,80.0
7933,994405,valentine vodka,NaN,nan,other,750.0,80.0
7952,985553,koval four grain,NaN,nan,other,750.0,94.0
7958,987955,kavalan king car conductor,NaN,nan,other,750.0,92.0
7978,942332,ron abuelo 12yr,NaN,nan,other,750.0,80.0
7979,921946,wild turkey kentucky spirit barrel,NaN,nan,other,750.0,101.0
8006,985298,piping rock peppermint schnapps,NaN,nan,other,1750.0,60.0
8008,940146,burnetts ruby red grapefruit,NaN,nan,other,750.0,70.0
8016,84144,99 grapes,NaN,nan,other,750.0,99.0
8017,84152,99 oranges,NaN,nan,other,50.0,99.0
8029,100068,cedar ridge american whiskey explorer pack,NaN,nan,other,1000.0,80.0
8039,84151,99 oranges,NaN,nan,other,750.0,99.0
8040,38176,titos handmade vodka,NaN,nan,other,750.0,80.0
8046,916666,ha orphan barrel barterhouse,NaN,nan,other,750.0,90.0
8047,43442,captain morgan jack-o blast,NaN,nan,other,750.0,60.0
8053,77322,rondiaz rum spiced black cherry mini,NaN,nan,other,500.0,60.0
8057,43439,captain morgan jack-o blast mini,NaN,nan,other,500.0,60.0
8059,40649,360 huckleberry mini,NaN,nan,other,500.0,70.0
8064,77902,smirnoff peppermint twist mini,NaN,nan,other,500.0,70.0
8066,80144,fulton's harvest apple pie liqueur,NaN,nan,other,750.0,25.0
8068,68042,baileys pumpkin spice,NaN,nan,other,750.0,34.0
8071,80128,ezra brooks bourbon cream mini,NaN,nan,other,50.0,25.0
8085,77903,smirnoff peppermint twist,NaN,nan,other,750.0,70.0
8095,80145,fultons harvest pumpkin liqueur,NaN,nan,other,750.0,25.0
8127,699,woodford reserve w/glass,NaN,nan,other,750.0,90.0
8133,693,jack daniel's tn honey w/flask,NaN,nan,other,750.0,70.0
8144,100135,gentleman jack w/ coaster set,NaN,nan,other,750.0,80.0
8149,935863,clix vodka,NaN,nan,other,750.0,80.0
8153,927080,ri(1) whiskey,NaN,nan,other,750.0,92.0
8163,986677,chilled dills pickle vodka,NaN,nan,other,750.0,70.0
8185,133,tequila rose holiday w/1 collins glass,NaN,nan,other,750.0,30.0
8186,428,jim beam black with glasses,NaN,nan,other,750.0,86.0
8188,919040,jim beam distillers masterpeice,NaN,nan,other,750.0,100.0
8189,53210,paul masson grande amber brandy,NaN,nan,other,100.0,80.0
8190,100005,glenlivet w/50ml 15yr & founders reserve,NaN,nan,other,850.0,80.0
8193,108,midnight moon cran-apple pie,NaN,nan,other,750.0,70.0
8195,364,bird dog peach w/2 shot glasses,NaN,nan,other,750.0,80.0
8196,72730,christian bros apple mini,NaN,nan,other,600.0,70.0
8198,3465,corralejo reposado w/shot glasses,NaN,nan,other,750.0,80.0
8202,100046,disaronno etro mignon counter unit,NaN,nan,other,3000.0,56.0
8204,41941,360 bing cherry,NaN,nan,other,750.0,70.0
8206,124,deep eddy 750ml vodka w/3-50mls,NaN,nan,other,3600.0,80.0
8208,980428,figenza mediterranean fig vodka,NaN,nan,other,750.0,62.0
8209,77744,travis hasse's apple pie mini,NaN,nan,other,500.0,40.0
8210,73684,e & j peach,NaN,nan,other,375.0,60.0
8211,100006,crystal head vodka w/ crystal stopper,NaN,nan,other,750.0,80.0
8212,934697,pinnacle orange,NaN,nan,other,750.0,70.0
8213,100080,jim beam single barrel gift carton,NaN,nan,other,750.0,95.0
8214,64986,french kiss tropical,NaN,nan,other,750.0,34.0
8218,14486,revel stoke roasted pineapple mini,NaN,nan,other,500.0,70.0
8220,558,crown royal w/2 glasses,NaN,nan,other,1750.0,80.0
8221,76668,pearl vanilla bean mini,NaN,nan,other,500.0,70.0
8222,40005,uv sangria mini,NaN,nan,other,500.0,60.0
8223,758,woodford reserve w/2 glasses,NaN,nan,other,750.0,90.0
8227,76024,midnight moon cinnamon,NaN,nan,other,750.0,90.0
8229,985603,marie brizard orange curacao,NaN,nan,other,750.0,60.0
8237,349,skyy bundle up,NaN,nan,other,750.0,80.0
8240,36410,chick's,NaN,nan,other,750.0,80.0
8247,51199,five star pirate sword,NaN,nan,other,375.0,80.0
8250,104,broker's gin holiday w/1 collins glass,NaN,nan,other,750.0,94.0
8251,160,chivas regal 12yr w/50ml chivas extra & chivas...,NaN,nan,other,850.0,80.0
8256,139,disaronno party pack sour vap,NaN,nan,other,750.0,56.0
8262,58892,jose cuervo authentic teagarita margarita 4pk ...,NaN,nan,other,800.0,20.0
8269,127,deep eddy lemon w/2 tin cups,NaN,nan,other,750.0,70.0
8272,129,deep eddy ruby red w/2 tin cups,NaN,nan,other,750.0,70.0
8276,36352,la collection football,NaN,nan,other,200.0,80.0
8283,561,ardbeg 10yr exploration pack,NaN,nan,other,850.0,94.0
8288,48182,hennessy master blender's selection,NaN,nan,other,375.0,86.0
8291,101,stolichnaya 80prf w/2 stemless martini glasses,NaN,nan,other,750.0,80.0
8292,967036,tarantula azul,NaN,nan,other,750.0,70.0
8295,958814,parrot bay tropical rum punch,NaN,nan,other,1750.0,30.0
8301,3345,carolans irish cream w/2 glasses,NaN,nan,other,750.0,34.0
8305,900477,great glen 8 yr,NaN,nan,other,750.0,NaN
8308,58882,jose cuervo authentic lime margarita pouch,NaN,nan,other,1750.0,20.0
8311,86747,ole smoky apple pie moonshine,NaN,nan,other,750.0,40.0
8323,227,glenmorangie original w/ quinta ruban & lasanta,NaN,nan,other,750.0,88.0
8338,2382,belvedere pure w/martini glass,NaN,nan,other,1750.0,80.0
8345,89174,don julio anejo,NaN,nan,other,375.0,80.0
8355,2313,mccormick egg nog w/2 glasses,NaN,nan,other,750.0,30.0
8358,927368,cedar ridge barrel proof bourbon - use code 92...,NaN,nan,other,750.0,115.0
8360,71902,annie's apple pie,NaN,nan,other,375.0,38.0
8361,64674,chambord liqueur royale de france,NaN,nan,other,375.0,33.0
8363,73645,dry dock sorghurm,NaN,nan,other,375.0,80.0
8369,100065,ardbeg 10yr quadrant & 50ml uigeadail,NaN,nan,other,800.0,93.0
8372,45869,rondiaz rum white mini,NaN,nan,other,500.0,50.0
8383,901289,irish single malt 14yr-brother in arms,NaN,nan,other,750.0,NaN
8390,901290,irish single malt 14yr-brother in arms,NaN,nan,other,375.0,NaN
8410,901293,irish single malt 14yr-brother in arms,NaN,nan,other,200.0,NaN
8413,65788,maraska kruskovac,NaN,nan,other,750.0,56.0
8416,900754,two casks- caol iia & speyburn sherry,NaN,nan,other,50.0,NaN
8418,900478,great glen 8 yr,NaN,nan,other,375.0,NaN
8422,987873,grapefruit liqueur,NaN,nan,other,750.0,NaN
8433,900484,5 year irish single grain,NaN,nan,other,375.0,NaN
8434,900482,5 year irish single grain,NaN,nan,other,1000.0,NaN
8435,987882,black currant liqueur creme de cassis,NaN,nan,other,50.0,NaN
8436,900487,5 year irish single grain,NaN,nan,other,50.0,NaN
8439,987872,grapefruit liqueur,NaN,nan,other,375.0,NaN
8443,987883,black currant liqueur creme de cassis,NaN,nan,other,100.0,NaN
8445,901296,irish single malt 14yr-brother in arms,NaN,nan,other,50.0,NaN
8456,987870,grapefruit liqueur,NaN,nan,other,100.0,NaN
8466,900752,two casks- caol iia & speyburn sherry,NaN,nan,other,200.0,NaN
8470,900485,5 year irish single grain,NaN,nan,other,200.0,NaN
8473,901294,irish single malt 14yr-brother in arms,NaN,nan,other,100.0,NaN
8476,987869,grapefruit liqueur,NaN,nan,other,50.0,NaN
8483,2629,southern comfort w/cocktail shaker,NaN,nan,other,750.0,70.0
8484,904751,michter's us*1 sb rye,NaN,nan,other,750.0,85.0
8486,28656,master's gin,NaN,nan,other,750.0,88.0
8487,28638,indian summer,NaN,nan,other,750.0,46.0
8492,919044,jefferson's reserve groth cask finish disco,NaN,nan,other,750.0,90.0
8494,900420,rothman & winter orchard cherry,NaN,nan,other,750.0,48.0
8524,976047,midnight moon raspberry,NaN,nan,other,750.0,90.0
8527,900750,two casks- caol iia & speyburn sherry,NaN,nan,other,750.0,NaN
8532,987952,kavalan concertmaster,NaN,nan,other,750.0,86.0
8574,900481,great glen 8 yr,NaN,nan,other,50.0,NaN
8579,956417,hiram walker coffee brandy,NaN,nan,other,1000.0,60.0
8582,977877,smirnoff sours watermelon mini,NaN,nan,other,500.0,60.0
8589,934958,three olives vanilla,NaN,nan,other,750.0,70.0
8593,43990,admiral nelson black patch mini,NaN,nan,other,500.0,94.0
8627,900486,5 year irish single grain,NaN,nan,other,100.0,NaN
8640,900483,5 year irish single grain,NaN,nan,other,750.0,NaN
8650,928420,fifty pounds,NaN,nan,other,750.0,43.0
8665,965015,galliano l'autentico,NaN,nan,other,750.0,85.0
8667,987875,grapefruit liqueur,NaN,nan,other,1750.0,NaN
8672,900479,great glen 8 yr,NaN,nan,other,200.0,NaN
8681,901288,irish single malt 14yr- brother in arms,NaN,nan,other,1000.0,NaN
8682,987885,black currant liqueur creme de cassis,NaN,nan,other,375.0,NaN
8691,985554,koval millet,NaN,nan,other,750.0,80.0
8703,915608,irish mist whiskey disco,NaN,nan,other,750.0,80.0
8716,987884,black currant liqueur creme de cassis,NaN,nan,other,200.0,NaN
8747,995209,spanish single malt 200ml,NaN,nan,other,200.0,85.0
8748,995218,barbados rum 1 liter,NaN,nan,other,1000.0,80.0
8750,995214,barbados rum 100ml,NaN,nan,other,100.0,80.0
8751,995216,barbados rum 375ml,NaN,nan,other,375.0,80.0
8755,995508,don pancho origenes 8yr rum,NaN,nan,other,750.0,80.0
8756,995217,barbados rum 750ml,NaN,nan,other,750.0,80.0
8757,973624,di amore quattro orange,NaN,nan,other,750.0,80.0
8760,995210,spanish single malt 375ml,NaN,nan,other,375.0,85.0
8761,995215,barbados rum 200 ml,NaN,nan,other,200.0,80.0
8766,995207,spanish single malt 50ml,NaN,nan,other,50.0,85.0
8768,995213,barbados rum 50ml,NaN,nan,other,50.0,80.0
8773,995208,spanish single malt 100ml,NaN,nan,other,100.0,85.0
8775,995212,spanish single malt 1 liter,NaN,nan,other,1000.0,85.0
8778,995211,spanish single malt 750ml,NaN,nan,other,750.0,85.0
8785,940909,hawkeye bacon vodka disco,NaN,nan,other,1000.0,70.0
8791,928096,"""beefeater """"24""""""",NaN,nan,other,750.0,90.0
8792,905211,ha glenmorangie bacalta disco,NaN,nan,other,750.0,92.0
8802,936206,grand teton vodka,NaN,nan,other,750.0,80.0
8808,947546,ansac vs cognac,NaN,nan,other,750.0,80.0
8809,990185,patron silver 750 box tray pack,NaN,nan,other,750.0,80.0
8810,964854,dorda double chocolate liqueur,NaN,nan,other,750.0,36.0
8812,994797,cutty sark scotch,NaN,nan,other,1000.0,80.0
8821,900476,great glen 8 yr,NaN,nan,other,1000.0,NaN
8822,994873,green absinthe,NaN,nan,other,375.0,132.0
8826,994874,red absinthe,NaN,nan,other,375.0,132.0
8828,901134,pina colada,NaN,nan,other,50.0,NaN
8835,902129,lairds old apple brandy 7yr,NaN,nan,other,750.0,80.0
8837,943280,caliche,NaN,nan,other,750.0,40.0
8841,987888,black currant liqueur creme de cassis,NaN,nan,other,1750.0,NaN
8846,965646,marie brizard chocolat royal,NaN,nan,other,750.0,34.0
8855,995756,deanston organic 14yr,NaN,nan,other,750.0,93.0
8857,900199,ha seven devils,NaN,nan,other,750.0,90.0
8858,984162,calvados morin selection 3yr,NaN,nan,other,750.0,80.0
8859,905433,laphroaig quarter cask,NaN,nan,other,750.0,96.0
8876,987886,black currant liqueur creme de cassis,NaN,nan,other,750.0,NaN
8881,988833,casamigos anejo,NaN,nan,other,750.0,80.0
8886,935969,stolichnaya hot,NaN,nan,other,750.0,75.0
8939,927516,michters us*1 small batch,NaN,nan,other,750.0,83.0
8942,918326,ha orphan barrel forged oak,NaN,nan,other,750.0,90.0
8949,900421,rothman & winter orchard pear,NaN,nan,other,750.0,48.0
8956,927833,ha abraham bowman wine finish whiskey,NaN,nan,other,375.0,100.0
8969,935743,pinnacle chocolate whipped,NaN,nan,other,750.0,70.0
8974,905234,ha highland park ice edition disco,NaN,nan,other,750.0,108.0
8985,905380,ha johnnie walker private collection 2014 smoke,NaN,nan,other,750.0,94.0
9020,904754,el mayor extra anejo 100% agave,NaN,nan,other,750.0,80.0
9096,100227,glen moray scotch classic port cask w/2 glasses,NaN,nan,other,750.0,80.0
9120,3273,zaya gran reserva rum w/2 rocks glasses,NaN,nan,other,750.0,80.0
9121,100229,southern comfort w/2 rock glasses,NaN,nan,other,750.0,70.0
9124,100282,glen moray classic chardonnay cask finish w/2 ...,NaN,nan,other,750.0,80.0
9131,63781,tgifridays long island iced tea,NaN,nan,other,1750.0,25.0
9135,41127,firefly raspberry tea vodka,NaN,nan,other,750.0,70.0
9138,36374,ketel one 325 anniversary bottle,NaN,nan,other,1000.0,80.0
9140,10840,crown royal cornerstone,NaN,nan,other,750.0,81.0
9143,63865,tgifridays ultimate orange dream,NaN,nan,other,1750.0,25.0
9144,28888,tanqueray no. ten,NaN,nan,other,1750.0,95.0
9146,41467,360 sorrento lemon vodka,NaN,nan,other,750.0,70.0
9148,76664,pearl strawberry basil mini,NaN,nan,other,500.0,70.0
9150,477,admiral nelson black patch mini counter unit,NaN,nan,other,600.0,94.0
9152,982601,dekuyper sour apple pucker,NaN,nan,other,50.0,30.0
9153,27850,lawless,NaN,nan,other,750.0,80.0

In [135]:
product.to_csv('Data/product_final.csv', index_label = False)

# Product Price Table

In [43]:
# Restrict to the fields we want for product price table.
prod_price_col = ['ItemNumber',
                  'Date',
                  'StateBottleRetail',
                  'StateBottleCost']

product_price = sales[prod_price_col].copy()

In [44]:
product_price['Date'] = pd.to_datetime(product_price['Date'])

In [45]:
# Use the mean of StateBottleRetail and StateBottleCost assuming that it is consistent for that specific day if there were many.
product_price = product_price.groupby(['ItemNumber', 'Date']).agg({'StateBottleRetail':'mean', 'StateBottleCost':'mean'})\
                .reset_index()

In [46]:
# Clean up names so that it's consistent between tables.
product_price.rename(columns = {'ItemNumber': 'ProductID'}, inplace = True)

In [47]:
product_price.head()

  ProductID       Date  StateBottleRetail  StateBottleCost
0       101 2016-10-13              29.97            19.98
1       101 2016-10-17              29.97            19.98
2       101 2016-10-18              29.97            19.98
3       101 2016-10-19              29.97            19.98
4       101 2016-10-26              29.97            19.98

In [48]:
product_price.isnull().sum(axis = 0)

ProductID            0
Date                 0
StateBottleRetail    3
StateBottleCost      3
dtype: int64

In [49]:
product_price.loc[product_price['StateBottleRetail'].isnull()]

        ProductID       Date  StateBottleRetail  StateBottleCost
1160241     35920 2012-01-31                NaN              NaN
1375942     38180 2012-01-30                NaN              NaN
1375943     38180 2012-01-31                NaN              NaN

In [50]:
# Removing nulls
product_price.dropna(inplace = True)
product_price.isnull().sum(axis = 0)

ProductID            0
Date                 0
StateBottleRetail    0
StateBottleCost      0
dtype: int64

In [51]:
product_price.to_csv('Data/product_price_final.csv', index_label = False)

# Vendors Table

Clean up inconsistency by:
- Using category name that is most recent
- Using item description that is most recent

In [52]:
# Restrict to the fields we want for vendor table.
vendor_col = ['Date',
              'VendorNumber',
              'VendorName']

vendor = sales[vendor_col].copy()

In [53]:
vendor['Year'] = vendor['Date'].str[-4:]

In [54]:
# Use the most recent year's vendor name and consolidate it with vendor number.
Vendor_List = vendor.sort_values(['Year']).drop_duplicates(subset = ['VendorNumber'], keep = 'last')
Merged_Vendor = vendor.merge(Vendor_List[['VendorNumber', 'VendorName']], on = 'VendorNumber', how = 'left')
Merged_Vendor.drop(columns = 'VendorName_x', inplace = True)
Merged_Vendor.rename(columns = {'VendorName_y': 'VendorName'}, inplace = True)

In [55]:
vendor = Merged_Vendor[['VendorNumber', 'VendorName']]
vendor.drop_duplicates(inplace = True)

<ipython-input-55-446e20498080>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vendor.drop_duplicates(inplace = True)

In [56]:
vendor.shape

(378, 2)

In [57]:
# Clean up names so that it's consistent between tables.
vendor.rename(columns = {'VendorNumber': 'VendorID'}, inplace = True)

C:\Users\JeongwooHan\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [58]:
vendor.head()

   VendorID              VendorName
0     330.0          Gemini Spirits
1     421.0    SAZERAC COMPANY  INC
2     370.0       PERNOD RICARD USA
4     260.0         DIAGEO AMERICAS
7     410.0  Patron Spirits Company

In [59]:
vendor.isnull().sum(axis = 0)

VendorID      1
VendorName    1
dtype: int64

In [60]:
vendor.loc[vendor['VendorID'].isnull()]

         VendorID VendorName
4671186       NaN        NaN

In [61]:
# Removing nulls
vendor.dropna(inplace = True)
vendor.isnull().sum(axis = 0)

<ipython-input-61-a1a30061e738>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vendor.dropna(inplace = True)

VendorID      0
VendorName    0
dtype: int64

In [62]:
vendor.to_csv('Data/vendor_final.csv', index_label = False)

# Stores Table

Clean up inconsistency by:
- Standardizing the store names
- Split store location into 'long' and 'lat'

In [104]:
# Restrict to the fields we want for store table.
store_col = ['StoreNumber',
             'StoreName',
             'City',
             'ZipCode',
             'StoreLocation',
             'CountyNumber',
             'County']

store = sales[store_col].drop_duplicates(store_col, keep = 'first').copy()

store.dropna(inplace = True)

In [105]:
# When I tried to convert zip code to integer, it brought up the issue that there is '712-2'.
# I looked into it, and it seems to be for dunlap, which other stores have zip codes '51529'. So will be replacing that.
store.loc[store['ZipCode'] == '712-2','ZipCode'] = '51529'
store.loc[store['ZipCode'] == '51529']

,StoreNumber,StoreName,City,ZipCode,StoreLocation,CountyNumber,County
2393660,4307,Crossroads Wine and Liquor,DUNLAP,51529,POINT (-95.602969 41.854728),43.0,Harrison
4785147,5362,Crossroads Wine & Spirits LLC,Dunlap,51529,POINT (-95.602969 41.854728),43.0,HARRISON
4813654,4307,Crossroads Wine and Liquor,Dunlap,51529,POINT (-95.602969 41.854728),43.0,Harrison

In [106]:
store['ZipCode'] = store['ZipCode'].apply(int).round().apply(str)

In [108]:
store['StoreName'] = store['StoreName'].apply(lambda x: x.split('/')[0].strip())

In [109]:
# Formula to standardize names.
def standardize_name(name):
    name = str(name)
    name = name.replace("``",'')
    name = name.replace('"','')
    name = re.sub("[,`'#.]",'',name)
    name = str(name).lower().replace(' and ',' & ')
    store_name = word_tokenize(name)
    store_name = [str(i).capitalize().strip() for i in store_name]
    store_name = ' '.join(store_name)
    store_name = store_name.replace('  ',' ')
    return store_name

In [110]:
# Applying standarization to StoreName, City, and County.
for col in ['StoreName', 'City', 'County']:
    store[col] = store[col].apply(standardize_name)

In [111]:
# Creating a list for StoreLocation
def get_location(location):
    if str(location) != 'nan':
        location = str(location)
        location = re.findall(r'[-]\d.*\d', location)[0]
        lon, lat = location.split(' ')
        lon = round(float(lon), 2)
        lat = round(float(lat), 2)
        location = [lon, lat]
    else:
        location = np.nan
    return location

In [112]:
store['StoreLocation'] = store['StoreLocation'].map(get_location)
store

,StoreNumber,StoreName,City,ZipCode,StoreLocation,CountyNumber,County
9,2663,Hy-vee Food Store,Urbandale,50322,"[-93.74, 41.63]",77.0,Polk
18,2647,Hy-vee 7,Cedar Rapids,52411,"[-91.7, 42.03]",57.0,Linn
24,5259,Gameday Liquor,Glenwood,51534,"[-95.92, 41.28]",65.0,Mills
27,5597,Liquor Tobacco & Gas,Dubuque,52001,"[-90.67, 42.51]",31.0,Dubuque
31,3749,Wal-mart 1526,Storm Lake,50588,"[-95.2, 42.66]",11.0,Buena Vist
...,...,...,...,...,...,...,...
21550279,6055,Caseys General Store 1428,Milo,50166,"[-93.44, 41.29]",91.0,Warren
21570146,6172,Bp To Go,Hiawatha,52233,"[-91.67, 42.05]",57.0,Linn
21587940,6179,Bp To Go - 1010,Marion,52302,"[-91.6, 42.02]",57.0,Linn
21625528,6176,Mini-mart,Cedar Falls,50613,"[-92.46, 42.54]",7.0,Black Hawk
21627782,6186,Save More Super Market,Davenport,52806,"[-90.61, 41.59]",82.0,Scott

In [113]:
# Dividing the StoreLocation list to Long and Lat.
long_lst = []
lat_lst = []
for i in store['StoreLocation']:
    long, lat = str(i).split(', ')
    long_lst.append(float(long.replace('[','')))
    lat_lst.append(float(lat.replace(']','')))
    
store['long'] = long_lst
store['lat'] = lat_lst

In [114]:
store.drop('StoreLocation', axis = 1, inplace = True)

In [115]:
store.isnull().sum(axis = 0)

StoreNumber     0
StoreName       0
City            0
ZipCode         0
CountyNumber    0
County          0
long            0
lat             0
dtype: int64

In [116]:
# Clean up names so that it's consistent between tables.
store.rename(columns = {'StoreNumber':'StoreID', 'long':'Long', 'lat':'Lat'}, inplace = True)

In [117]:
store.head()

,StoreID,StoreName,City,ZipCode,CountyNumber,County,Long,Lat
9,2663,Hy-vee Food Store,Urbandale,50322,77.0,Polk,-93.74,41.63
18,2647,Hy-vee 7,Cedar Rapids,52411,57.0,Linn,-91.70,42.03
24,5259,Gameday Liquor,Glenwood,51534,65.0,Mills,-95.92,41.28
27,5597,Liquor Tobacco & Gas,Dubuque,52001,31.0,Dubuque,-90.67,42.51
31,3749,Wal-mart 1526,Storm Lake,50588,11.0,Buena Vist,-95.20,42.66

In [118]:
store.drop_duplicates(keep = 'first', inplace = True)

In [119]:
store

,StoreID,StoreName,City,ZipCode,CountyNumber,County,Long,Lat
9,2663,Hy-vee Food Store,Urbandale,50322,77.0,Polk,-93.74,41.63
18,2647,Hy-vee 7,Cedar Rapids,52411,57.0,Linn,-91.70,42.03
24,5259,Gameday Liquor,Glenwood,51534,65.0,Mills,-95.92,41.28
27,5597,Liquor Tobacco & Gas,Dubuque,52001,31.0,Dubuque,-90.67,42.51
31,3749,Wal-mart 1526,Storm Lake,50588,11.0,Buena Vist,-95.20,42.66
...,...,...,...,...,...,...,...,...
21550279,6055,Caseys General Store 1428,Milo,50166,91.0,Warren,-93.44,41.29
21570146,6172,Bp To Go,Hiawatha,52233,57.0,Linn,-91.67,42.05
21587940,6179,Bp To Go - 1010,Marion,52302,57.0,Linn,-91.60,42.02
21625528,6176,Mini-mart,Cedar Falls,50613,7.0,Black Hawk,-92.46,42.54
21627782,6186,Save More Super Market,Davenport,52806,82.0,Scott,-90.61,41.59

In [121]:
store.to_csv('Data/store_final.csv', index_label = False)

# Transactions Table

In [122]:
# Restrict to the fields we want for store table.
transaction_col = ['Invoice/ItemNumber',
                   'StoreNumber',
                   'VendorNumber',
                   'ItemNumber',
                   'Date',
                   'BottlesSold',
                   'VolumeSold(Gallons)',
                   'Sale(Dollars)']

transaction = sales[transaction_col].copy()

In [123]:
transaction['Date'] = pd.to_datetime(transaction['Date'])

In [124]:
# Clean up names so that it's consistent between tables.
transaction.rename(columns = {'Invoice/ItemNumber':'TransactionID',
                              'StoreNumber':'StoreID',
                              'VendorNumber':'VendorID',
                              'ItemNumber':'ProductID',
                              'VolumeSold(Gallons)':'Volume',
                              'Sale(Dollars)':'Sale'}, inplace = True)

In [125]:
transaction.isnull().sum(axis = 0)

TransactionID     0
StoreID           0
VendorID          9
ProductID         0
Date              0
BottlesSold       0
Volume            0
Sale             10
dtype: int64

In [132]:
# Removing nulls since there are only 10 rows out of 2M+ rows.
transaction.dropna(inplace = True)
transaction.isnull().sum(axis = 0)

TransactionID    0
StoreID          0
VendorID         0
ProductID        0
Date             0
BottlesSold      0
Volume           0
Sale             0
dtype: int64

In [133]:
transaction.shape

(21641138, 8)

In [134]:
transaction.to_csv('Data/transaction_final.csv', index_label = False)

# Set Up SQLite Database

In [137]:
con = sqlite3.connect('IowaLiquor.db')
cur = con.cursor()

In [138]:
cur.execute('''CREATE TABLE Product
                (ProductID, ProductName, CategoryID, CategoryName, CategoryGroup, BottleVolume, Proof)''')

cur.execute('''CREATE TABLE Price
                (ProductID, Date, StateBottleRetail, StateBottleCost)''')

cur.execute('''CREATE TABLE Venor
                (VendorID, VendorName)''')

cur.execute('''CREATE TABLE Store
                (StoreID, StoreName, City, ZipCode, CountyNumber, County, Long, Lat)''')

cur.execute('''CREATE TABLE Transactions
                (TransactionID, StoreID, VendorID, ProductID, Date, BottlesSold, Volume, Sale)''')

In [139]:
product.to_sql('Product', con, if_exists = 'append', index = False)
product_price.to_sql('Price', con, if_exists = 'append', index = False)
vendor.to_sql('Vendor', con, if_exists = 'append', index = False)
store.to_sql('Store', con, if_exists = 'append', index = False)
transaction.to_sql('Transactions', con, if_exists = 'append', index = False)

In [140]:
con.commit()

In [141]:
con.close()